* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "lato", sans-serif;
  font-display: swap;
  font-weight: 300;
  color: style;
}
h1 {
  font-weight: 400;
  font-size: 46px;
  color: #1f1f1f;
  margin: 12px;
  margin-top: 39px;
}
